/* Components */

/* Buttons */
.btn {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 10px;
  border: 1px solid transparent;
  font-size: 1.2em;
  background-image: none;
}

/* Icons */
[class^="flaticon-"]:before,
[class*="flaticon-"]:before {
  margin-left: 0px;
}

[class^="icon-xxlarge flaticon-"]:before,
[class*="icon-xxlarge flaticon-"]:before {
  font-size: 3em;
}

[class^="icon-xlarge flaticon-"]:before,
[class*="icon-xlarge flaticon-"]:before {
  font-size: 2.5em;
}

[class^="icon-large flaticon-"]:before,
[class*="icon-large flaticon-"]:before {
  font-size: 30px;
}

[class^="icon-normal flaticon-"]:before,
[class*="icon-normal flaticon-"]:before {
  font-size: 1.5em;
}

/* Utils */
hr {
  margin: 0 auto;
  width: 8%;
  border-color: #979797;
  margin-top: 3em;
  margin-bottom: 2em;
}
