/* Blog Post Section CSS */
.post {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.post__header {
  padding: 0;
  margin: 0px 0px 25px 0px;
  text-align: center;
}

.post__header > h1 {
  font-family: 'Satisfy';
  font-size: 60px;
  font-weight: 700;
  color: rgba(85, 85, 85, 1);
}

.post__header > p {
  font-family: 'Fira Sans';
}

.post__content {
  margin: 0 100px;
  font-family: 'Source Sans Pro';
  color: #555;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.post__content > p,
.post__content > div {
  padding-bottom: 15px;
}

.post__content > p:first-child:first-letter {
  color: #555;
  float: left;
  font-family: 'Satisfy';
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.image-overlay-container {}

#myCanvas {
  position: relative;
  z-index: 20;
}

.bento > .post__content {
  position: relative;
}

.bento > .post__content > div > canvas {
  z-index: 0;
}

.bento > .post__content > div > .bento-links {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bento > .post__content > div > .bento-links > span {
  position: absolute;
  font-family: 'Fira Sans';
  text-transform: uppercase;
}
