/* Blog Post Section CSS */
.post {
  margin: 10px 200px;
  border-top: 3px solid #555555;
}

.post > h1 {
  padding: 0;
  margin: 0px 0px 25px 0px;
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  color: rgba(85, 85, 85, 1);
  text-align: left;
}

.post > p {
  font-family: 'Asap';
  color: #555;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
