/* Tabs */
/* TODO: Refactor to follow convention. */

.tabs {
  width:100%;
  display:inline-block;
  float:left;
  overflow:hidden;
}

ul.tab-navigation {
  background-color: #FFFFFF;
  clear: left;
  float: left;
  position: relative;
  left: 50%;
  text-align: center;
}

ul.tab-navigation:after {
  display: block;
  clear: both;
  content: '';
}

ul.tab-navigation li {
  margin: 0px;
  float: left;
  list-style: none;
  padding: 1.2em 3em;
  float:left;
  position:relative;
  background:#FFFFFF;
  right:50%;
}

ul.tab-navigation li > a {
  display: block;
  border: 1px solid transparent;
  font-size: 1.3em;
  font-weight: 500;
  color: #979797;
  transition:all linear 0.15s;
  text-decoration: none;
}

ul.tab-navigation li > a i {
  margin: 0;
  margin-right: 10px;
}

ul.tab-navigation li > a:hover {
  color: #505050;
}

ul.tab-navigation li.active,
ul.tab-navigation li.active > a {
  background: #EFEFEF;
  color: #505050;
}

.tab-content {
  width: 100%;
  padding: 1em;
  background: #EFEFEF;
  clear: left;
  float: left;
}

.tab-content-panel {
  display: none;
}

.tab-content-panel.active {
  display: block;
}

@media (max-width: 1024px) {
  ul.tab-navigation span {
    display: none;
  }

  ul.tab-navigation li > a i {
    margin: 0px; 
  }
}
